<div class="foot">
    <div class="foot_part">
        <div class="">
            <div class="foot-about">
                <div class="footer_icon png"></div>
                <div class="title"><a target="_blank" href="http://www.lufax.com/about/">关于陆金所</a></div>
                <div class="fcontent"><a target="_blank" href="http://www.lufax.com/about/aboutus.html">陆金所介绍</a></div>
                <div class="fcontent"><a target="_blank" href="http://www.lufax.com/about/announcement.html">公告和新闻</a></div>
                <div class="fcontent"><a target="_blank" href="http://www.lufax.com/about/contactus.html">联系我们</a></div>
                <div class="fcontent"><a target="_blank" href="http://www.lufax.com/about/declaration.html">网站声明</a></div>
            </div>
            <div class="foot-column-separate-line"></div>
            <div class="foot-safe">
                <div class="footer_icon png"></div>
                <div class="title"><a target="_blank" href="http://www.lufax.com/safe/">安全保障</a></div>
                <div class="fcontent"><a target="_blank" href="http://www.lufax.com/safe/invest.html">投资安全</a></div>
                <div class="fcontent"><a target="_blank" href="http://www.lufax.com/safe/fund.html">资金安全</a></div>
                <div class="fcontent"><a target="_blank" href="http://www.lufax.com/safe/data.html">数据及信息</a></div>
                <div class="fcontent"><a target="_blank" href="http://www.lufax.com/safe/privacy.html">隐私保密</a></div>
            </div>
            <div class="foot-column-separate-line"></div>
            <div class="foot-description">
                <div class="footer_icon png"></div>
                <div class="title"><a target="_blank" href="http://www.lufax.com/help/">帮助中心</a></div>
                <div class="fcontent"><a target="_blank" href="http://www.lufax.com/help/guide_new.html">投资人指引</a></div>
                <div class="fcontent"><a target="_blank" href="http://www.lufax.com/faq/FAQ.html">新手必读</a></div>
                <div class="fcontent"><a target="_blank" href="http://www.lufax.com/help/help_service_feedback.html">联系客服</a></div>
            </div>
            <div class="foot-column-separate-line"></div>
            <div class="foot-phone">
                <div class="out"><div class="icon_content"><span class="info">全国服务热线</span><br><span class="number">4001 6666 18</span><br></div></div>
                <div class="fcontent info">人工服务时间&nbsp;&nbsp;&nbsp;8:00-22:00</div>
                <div class="fcontent pcontent">
                    <a class="leaveMsg" target="_blank" href="http://www.lufax.com/help/help_service_feedback.html">客户留言</a>
                    <a class="weibo" target="_blank" href="http://e.weibo.com/lufax">官方微博</a>
                </div>
            </div>
            <div class="foot-column-separate-line"></div>
            <div align="right" class="foot-info">
                <div class="">
                    <div class="footer_icon png "></div>
                    {#<div class="select">
                        <div class="select_box">
                            
                            <ul class="select_ul">
                                <li src="http://www.pingan.com">中国平安官网</li>
                                <li src="http://one.pingan.com">平安一账通</li>
                                <li src="http://www.yihaodian.com">一号店</li>
                                <li src="http://www.xsme.cn">平安交易所</li>
                            </ul>
                        </div>
                    </div>#}
                </div>
                <div class="fcontent first">版权所有 &copy; 上海陆家嘴国际金融资产交易市场股份有限公司</div>
                <div class="fcontent">Copyright Shanghai Lujiazui International Financial</div>
                <div class="fcontent">Asset Exchange Co.,Ltd. ALL Rights Reserved</div>
                <div class="fcontent">沪 ICP 证 B2-20120023号</div>
                <div class="fcontent">沪 ICP 备 12032241 号-2</div>
            </div>
        </div>
    </div>
</div>