<div class="head-wrap">
    <div class="head ">
        <div class="logo"><a href="http://www.lufax.com"><img alt="陆金所" src="http://static.lufax.com/config/images/p2p_index/logo_festival.png"></a></div>
        <div class="headContent">
            
            <ul class="mainNav ">
                <li class="home selected"><a onclick="_gaq.push(['_trackEvent', 'click', 'TOP-首页', '点击数']);" href="http://www.lufax.com">首页</a></li>
                <li class="dropDown invest"><a onclick="_gaq.push(['_trackEvent', 'click', 'TOP-投资频道', '点击数']);" href="http://list.lufax.com/list/listing">投资频道<b>
                            &nbsp;</b></a>
                    
                </li>
                <li class="licai">
                    <a onclick="_gaq.push(['_trackEvent', 'click', 'TOP-理财频道', '点击数']);" href="http://www.lufax.com/licai">理财频道<span class="new">new</span></a>
                </li>
                <li class="xinke">
                    <a onclick="_gaq.push(['_trackEvent', 'click', 'TOP-新客专区', '点击数']);" href="http://list.lufax.com/list/listing/xinke">新客专区 <span class="count-num">(<em>6</em>)</span></a>
                </li>
                <li class="transfer">
                    <a onclick="_gaq.push(['_trackEvent', 'click', '主导航-转让专区', '点击数']);" href="http://list.lufax.com/list/transfer">转让专区 <span class="count-num"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>