{#{% set app_domain = app_param('app.admin.domain') %}
{% set app_version = app_param('app.version') %}
{% set page_body_id = page_body_id is defined ? page_body_id : 'app_html_body' %}#}
{#{% set app_version = app_param('app.version') %}#}
{% set uri = app.request.attributes.get('_route') %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js not-ie8 gt-ie8" lang="en"> <![endif]-->
<!--[if !IE]><!--><html class="no-js not-ie8" lang="en"> <!--<![endif]-->
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name='viewport' content='width=1000' />
        <title>{#{{ 'app.admin.brand' | trans({}, app_domain) }}#}</title>
        <meta name="description" content="">
        <meta name="author" content="">
        {% block stylesheets %}
            {% stylesheets
                '@AcmeWebBundle/Resources/public/less/general.less'
                '@AcmeWebBundle/Resources/public/less/body.less'
                '@AcmeWebBundle/Resources/public/less/24grid.less'

                debug=false 
                filter='lessphp'
                output='bundles/css/general.css'
            %}
            <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block html_body %}
        {% include 'AcmeWebBundle:Common:header.html.twig' %}<!--/header-->

        {% block content %}
        <div id="content">
            <div class="main-wrap">
                {% block app_content %}

                {% endblock app_content %}
            </div>
        </div>
        {% endblock content %}
        {% include 'AcmeWebBundle:Common:footer.html.twig' %}<!--/footer-->
        {% endblock html_body %}
    </body>
</html>